<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.cssx">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Layout File</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ url_for('home') }}" class="navbar-brand">
                Flask App {% if session['username'] %}
                {{ '- ' + session['username'] }}
                {% endif %}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if not session['username'] %}
                <li><a href="{{ url_for('show_login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('create_project') }}">Create Project</a></li>
                {% endif %}

            </ul>
        </div>

    </div> <!-- container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% for project in g.projects %}
                <li><a href="{{ url_for('view_project',
                       project_id=project.id) }}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong> {{ message }} </strong>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div> <!-- container-fluid -->


</body>
</html>