{% extends "layout.html" %}
{% block content %}
<div class="project">
    <div class="page-header jumbotron">
        <h3>{{ project.name }}
            <a href="{{ url_for('edit_project', project_id=project.id)}}">
                <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit Project"></span>
            </a>
            <a href="{{ url_for('delete_project', project_id=project.id)}}">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="Delete Project"></span>
            </a>
        </h3>
    </div>
    <div class="createtask">
        <h5>
            <a href="{{ url_for('create_task', project_id=project.id)}}">
                Create Task
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </a>
        </h5>
    </div>
    <ul>
    {% for task in project.tasks %}
        <li>
            {{ task.title }} => {{ task.description }}
            <a href="{{ url_for('edit_task', task_id=task.id)}}">
            <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit Task"></span>
            </a>
            <a href="{{ url_for('delete_task', task_id=task.id)}}">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="Delete Task"></span>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
